<!-- "Join Team" (Post) Form -->
<div class="col-md-5">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center"><span class="glyphicon glyphicon-map-marker">Romanian Linked Open Data Map</span></h2>
            </div>

            <!-- Panel Body -->
            <div class="panel-body">
                 <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">What it does?</div>
                      <div class="panel-body">
                        <ul>
                          <li>Displays on a Google Map all resources from <a href="http://data.gov.ro">data.gov.ro</a> that have physical address</li>
                          <li>Displays resources that are nearby to the user</li>
                          <li>Displays information about each resource, taken from other online sources, for example each city population, taken from geonames.org</li>
                        <ul>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">What open datasets uses?</div>
                      <div class="panel-body">
                        <ul>
                            <li><a href="/#/hospitals">Romanian Hospitals</a></li>
                            <li><a href="/#/pharmacies">Romanian Pharmacies</a></li> 
                            <li><a href="/#/museums">Romanian Museums</a></li> 
                            <li>More to come...Stay tuned.</li> 
                        </ul>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">How can be used?</div>
                      <div class="panel-body">Just browse and see</div>
                    </div>
                    <!--
                    <div class="panel panel-default">
                      <div class="panel-heading">        <a data-toggle="collapse" href="#collapse1">Tehnical Details</a></div>
                      <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                           <ul>
                            <li>Each used dataset taken from <a href="http://data.gov.ro">data.gov.ro</a> is transformed into Linked Open Data and linked with other online datasets</li>
                            <li>Geographical coordinates are taken from Google GeoCode service</li>
                            <li>The population for each city is obtain dynamically, at each click, using only <owl:sameAs> links.
                          <ul>
                        </div>
                      </div>
                    </div>
                    -->
                    <div class="panel panel-default">
                      <div class="panel-heading">Who implemented?</div>
                      <div class="panel-body"><a href="http://opendata.cs.pub.ro">opendata team</a> from <a href="http://www.upb.ro">Politehnica University Bucharest</a> </div>
                    </div>
                </div>
                
            </div>
    </div>
</div>

